@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

:root {
  --text-color: black;
  --background-color:#b9d4ff;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding-top: 15px;
}

a {
  color: #555;
}

.btn:focus {
  outline: 0 !important;
}

.btn-primary:focus-within {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-warning:focus-within {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.help-block {
  display: inline-block;
  max-width: 100%;
  margin: auto;
  color: black;
}

.navbar {
  background-color: black;
}

.navbar-brand {
  font-weight: bold;
}

.nav-tabs {
  border-bottom: 1px solid white;
}

.nav-tabs>li>a:focus {
  outline: 0 !important
}

.page-header {
  border-bottom: 1px solid white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: silver;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: silver;
}
::-webkit-scrollbar-thumb:active {
  background: gray;
}
::-webkit-scrollbar-corner {
  background: transparent;
}