@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

:root {
  --primary-color: black;
  --secondary-color: white;

  /*
  blue: #24305E
  yellow: #F8E9A1
  */
}

html {
  height: 100%
}

body {
  min-height: 100%;
  color: var(--primary-color);
  background: var(--secondary-color);
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding-top: 15px;
}

.navbar {
  background-color: var(--primary-color);
}

.navbar-brand {
  font-weight: bold;
}

.btn:focus {
  outline: 0 !important;
}