@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');


body {
  margin: 0;
  font-family: 'Questrial', sans-serif;
  color: #24305E;
  background: #F8E9A1;
  overflow-y: scroll;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F76C6C;
  overflow-x: hidden;
  font-size: 20pt;
}


/* Side navigation links */
.sidenav a {
  color: #24305E;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #A8D0E6;
  color: #24305E;
}


/* Style the side navigation */
.sidenavright {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #F8E9A1;
    overflow-x: hidden;
  }
  
  
  /* Side navigation links */
  .sidenavright a {
    color: #24305E;
    padding: 16px;
    text-decoration: none;
    display: block;
  }

.content {
  margin-left: 200px;
  padding-left: 20px;
}

/* adapted from: https://codepen.io/wbeeftink/pen/dIaDH */
.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
    padding-left: 38%;
  }

  .tags li {
      float: left;
  }
  
  .tag {
    background: #F76C6C;
    border-radius: 3px;
    color: white;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
  }
  
  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  .tag:hover {
    background-color:#A8D0E6;
    color: white;
  }

  .collapse-css-transition {
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }

  .header{
    cursor: pointer;
    border: solid 1px #F76C6C;
    padding: 15px;
    background-color: #24305E;
    color: #FFF;
    font-family: verdana;
    
    width: 50%;
  }
  
  .content{
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    padding-right:20%;
    font-family: verdana;
    font-size: 14px;
    width:40%;
   
  }
  

  