@media all and (min-width: 480px) {
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .3s ease;
         -o-transition: height .3s ease;
            transition: height .3s ease;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .filter {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: white;
  }

  .list-group {
    max-height: 60vh;
    overflow-y: auto;
  }

  .list-group-item {
    margin-bottom: 1px;
  }

  .select {
    width: 100%;
    font-size: 100%;
  }
}