@media all and (min-width: 480px) {
  .Browse p {
    margin: 0;
  }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .3s ease;
         -o-transition: height .3s ease;
            transition: height .3s ease;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }
  
  .list-group {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
  }
  
  .list-group-item {
    white-space: pre-wrap;
    border-color: #ccc;
  }

  button.list-group-item:focus {
    outline: 0 !important;
  }

  .panel {
    margin-bottom: 0;
    border: 0;
    box-shadow: none;
    background-color: var(--background-color);
  }
}