@media all and (min-width: 480px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .3s ease;
         -o-transition: height .3s ease;
            transition: height .3s ease;
  }

  .filter-panel {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: white;
    box-shadow: none;
  }

  .projects-panel {
    border: 0;
    box-shadow: none;
  }

  .list-group {
    max-height: calc(100vh - 270px);
    overflow-y: auto;
  }

  .list-group-item {
    margin-bottom: 1px;
    white-space: pre-wrap;
  }
}