@media all and (min-width: 480px) {
  .Login {
    background: url("login.svg") no-repeat;
    background-size: 40%;
    padding: 5%;
    background-position-y: center;
  }

  .Login .page-header {
    text-align: center;
  }

  .Login form {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 60%;
    padding-right: 10%;
  }

  .help-block-credentials {
    display: block !important;
    text-align: center;
    font-weight: bold;
    color: #a94442 !important;
    margin: 10px !important;
  }
}