@media all and (min-width: 480px) {
  .ProfileEdit .form-group {
    max-width: 600px;
  }

  .ProfileEdit .form-control {
    height: 38px;
  }

  .ProfileEdit form span.help-block {
    font-size: 14px;
    color: gray;
  }
}