@media all and (min-width: 480px) {
  .Profile .media {
    padding-bottom: 20px;
  }
  
  .Profile .media-heading {
    font-size: 30px;
    color: #333;
    padding-left: 20px;
  }

  .Profile h4 {
    font-size: 20px;
    color: #333;
    padding-left: 20px;
  }

  .Profile p {
    font-size: 14px;
    color: #333;
    padding-top: 20px;
    padding-left: 10px;
    white-space: pre-line;
  }

  /* adapted from: https://codepen.io/wbeeftink/pen/dIaDH */
  .badge {
    background: rgb(255, 133, 133);
    border-radius: 3px 0 0 3px;
    color: white;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 15px 0px 0px 15px;
    text-decoration: none;
    font-size: 14px;
    text-align: left;
  }

  .badge:before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }

  .badge:hover {
    background-color: #eee;
    color: black;
  }

  .badge:hover:after {
    border-left-color: #eee;
  }
}