@media all and (min-width: 480px) {
  .SignUp {
    background: url("login.svg") no-repeat;
    background-size: 50%;
    background-position-y: center;
  }

  .SignUp .page-header {
    text-align: center;
  }

  .SignUp form {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 60%;
    padding-right: 10%;
    padding-bottom: 10%;
  }

  .SignUp .form-group {
    margin-bottom: 10px;
  }

  .SignUp form span.help-block {
    font-size: 14px;
    color: gray;
  }

  .help-block {
    color: #524948 !important;
  }

  .control-label {
    color: black !important;
  }

  .help-block-username {
    display: block !important;
    text-align: center;
    font-weight: bold;
    color: #a94442 !important;
    margin: 10px !important;
  }
}